* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Josefin-Sans", sans-serif
}

/* Navigation */

.nav-container {
    background: #F2E4FF;
    height: 151px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    height: 151px;
}

nav ul {
    display: flex;

}

.nav-items li a {
    color: #000000;
    font-size: 20px;
    font-family: "Josefin-Sans", sans-serif;
    text-decoration: none;
}

